[Unit]
Description=L-Connect Web Application
After=network.target

[Service]
Type=notify
ExecStart=/usr/bin/dotnet /var/www/l-connect/L-Connect.dll
WorkingDirectory=/var/www/l-connect
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=l-connect
User=www-data
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target 